.page {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    padding: 7px;
}
.report-header {
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 3px;
}
.report-header h1 {
    font-size: 22px;
    margin: 0;
    color: #007bff;
}
.report-header p {
    font-size: 14px;
    color: #666;
    margin: 5px 0 0;
}
.patient-info {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background-color: #f9f9f9;
    display: flex;
    align-items: baseline;
    justify-content: start;
    gap: 12px;
    flex-wrap: wrap;
}
.info-box {
    /* flex: 1 1 45%; */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    width: 48% !important;
}
.info-box label {
    font-weight: bold;
    font-size: 22px;
    color: #333;
    width: fit-content;
    margin: 0;
}
.info-box span {
    font-size: 18px;
    color: orange;
    width: fit-content;
    margin: 0;
}

.report-sub-header h1 {
    font-size: 22px;
    margin: 26px 0 12px 0px;
    font-weight: bold;
}

.report-footer {
    text-align: center;
    font-size: 15px;
    color: #666;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding: 14px;
}
@media print {
    .page {
        padding: 10mm;
    }
    .info-box {
        break-inside: avoid; /* Prevent box from splitting across pages */
    }
}